<html>
<head>
    <meta charset="UTF-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.0/jquery-ui.min.js"></script>
    <script src="http://demo.st-marron.info/roulette/roulette.js"></script>
    <title>child</title>
    <style>
        .roulette img {
            width: 300px;
            height: 120px;
        }
    </style>
</head>
<body>

<div id="root">
    <h1>child</h1>
    Debug actions to call parent<br>
    <button @click="customStart">customStart</button>
    <button @click="customParticipate">customParticipate</button>
    <button @click="customEnd">customEnd</button>
    <br>
    Debug console<br>
    parent message:<br>
    <code>{{participationData}}</code>
    <br>
    <hr>
    <br>
    <div class="roulette" style="display: none;">
        <img v-for="prize in prizes" v-if="prize.image && !prize.expired" :src="prize.image" :alt="prize.name"/>
    </div>

    <button id="startAnimation" @click="startAnimation">Start roulette</button>
    <button id="stopAnimation" @click="stopAnimation">Stop and participate</button>
    <div id="participationResult" style="display: none;">
        <button id="continueButton" @click="customEnd">Continue</button>
    </div>
</div>

    
<script>

    'use strict'

    let getLocalizedField = function(field, lang){
        if (field) {
            return field[lang] || field[Object.keys(field)[0]]
        } else {
            return null
        }
    }

    let prizeMapper = function(prize, lang){
        let prizeSimple = new Object()

        if (prize.expiration <= Math.floor(Date.now()/1000)) {
            prizeSimple['expired'] = true
        } else {
            prizeSimple['expired'] = false
        }

        if (prize.images) {
            prizeSimple.image = getLocalizedField(prize.images.url, lang)
        }
        prizeSimple.name = getLocalizedField(prize.name, lang)

        return prizeSimple
    }

    let messageTypes = Object.freeze({
        ORCHEXTRA_PROMOTOOL_START: 'orchextraPromotoolStart',
        ORCHEXTRA_PROMOTOOL_PARTICIPATE: 'orchextraPromotoolParticipate',
        ORCHEXTRA_PROMOTOOL_END: 'orchextraPromotoolEnd'
    })

    new Vue({
        el:'#root',
        data:{
            participationData: null,
            lang: null,
            promoId: null,
            promoConfiguration: null,
            prizes: []
        },
        methods:{
            customStart(){
                window.top.postMessage({type: messageTypes.ORCHEXTRA_PROMOTOOL_START},'*')
            },
            customParticipate(){
                window.top.postMessage({type: messageTypes.ORCHEXTRA_PROMOTOOL_PARTICIPATE},'*')
            },
            customEnd(){
                window.top.postMessage({type: messageTypes.ORCHEXTRA_PROMOTOOL_END},'*')
            },
            makeRequest: function(method, url) {
                return new Promise(function (resolve, reject) {
                    var xhr = new XMLHttpRequest();
                    xhr.open(method, url);
                    xhr.onload = function () {
                        if (this.status >= 200 && this.status < 300) {
                            resolve(xhr.response);
                        } else {
                            reject({
                                status: this.status,
                                statusText: xhr.statusText
                            });
                        }
                    };
                    xhr.onerror = function () {
                        reject({
                            status: this.status,
                            statusText: xhr.statusText
                        });
                    };
                    xhr.send();
                });
            },
            showRoulette: function(config) {

                let prizes = Array.from(config.data.prizes)

                this.prizes = Array.from(prizes.map(item => prizeMapper(item, this.lang)));

            },
            useCases: function(){
                return {
                    initPromotionConfiguration: () => {
                        this.promoId = new URLSearchParams(window.location.search).get('promoId')
                        console.log('promoId', this.promoId)
                        this.lang = new URLSearchParams(window.location.search).get('lang')
                        this.makeRequest('GET','https://pt.orchextra.io/configuration/'+this.promoId).then((response) => {
                            this.promoConfiguration = response
                            this.showRoulette(JSON.parse(this.promoConfiguration))
                        }).catch((error) => {
                                throw new Error(error.statusText)
                            })
                        },
                    sendEventStart: () => {
                        this.customStart()
                    },
                    participate: () => {
                        this.customParticipate()
                    },
                    sendEventEnd: () => {
                        this.customEnd()
                    },
                }
            },
            startAnimation: function() {
                let rouletter = $('div.roulette')
                let options = {
                    speed : 5,
                    duration : 100,
                    stopImageNumber : 1,
                    rollCount : function(){
                        return 3
                    },
                    startCallback : function() {
                        console.log('start')
                        $('#startAnimation').hide()
                        $('#stopAnimation').show()
                    },
                    slowDownCallback : function() {
                        console.log('slowDown')
                        $('#stopAnimation').hide();
                    },
                    stopCallback : function($stopElm) {
                        console.log('stop')
                        console.log($stopElm)
                        $('#participationResult').show();
                    }
                }
                rouletter.roulette(options)
                rouletter.show()
                rouletter.roulette('start')
            },
            stopAnimation: function() {
                let rouletter = $('div.roulette')
                rouletter.roulette('stop')
                this.customParticipate()
            }
        },
        created(){

            window.onmessage = (e) => {
                switch (e.data.type) {
                    case 'orchextraPromotoolParticipation':
                        this.participationData = e.data.data;
                        break
                }
            }

            this.useCases().sendEventStart()

            this.useCases().initPromotionConfiguration()

            $('#stopAnimation').hide()
        }
    })

</script>
</body>
</html>